
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.ViewName</h1>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Model.ViewName
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var c in Model.Movies)
    {
        <tr>
            <td>@Html.ActionLink(c.Name,"Details","Movies",new{id=c.Id},null)
            </td>
        </tr>
    }

    </tbody>
</table>
